:root {
    --pink: pink;
    --white: white;
    --red: red;
}

body {
    background-color : var(--pink);
}
div {
    border: solid 1px var(--pink);
}
a {
    color: var(--pink);
    text-decoration: underline;
    background-color : var(--white);
    border-radius: 3px;

    &:hover {
        cursor: pointer;
    }
}
.error {
    border: solid 2px var(--red);
    border-radius: 3px;
}
