body {
    background-color : pink;
}
div {
    border: solid 1px pink;
}
a {
    color: pink;
    text-decoration: underline;
    background-color : white;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
    }
}
