body {
    background-color : navy;
}
div {
    border: solid 1px navy;
}
a {
    color: navy;
    text-decoration: underline;
    background-color : white;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
    }
}
.error {
    border: solid 2px red;
    border-radius: 3px;
}
